<h1>Stock index</h1>
<%= will_paginate %>

<table>
  <tr>
    <th>Symbol</th>
    <th>Company</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Sector</th>
    <th>Industry</th>
    <th>Employees</th>
    <th>Refreshed at</th>
    <th>Simulate</th>
    <th>Simulation results</th>
  </tr>
  <%= render @stocks %>
</table>

<%= will_paginate %>
